<html>

	<head>
		<title><%=@title || '无标题'%></title>
		<link href="/css/base.css" rel="stylesheet" type="text/css" />
    	<script src="/js/jquery-1.6.1.min.js" type="text/javascript"></script>
    	<script src="/js/public_func.js" type="text/javascript"></script>
	</head>


<body>
	<a href="/list">网站列表</a>&nbsp;&nbsp;
	<a href="/new">新建网站</a><br />
	<hr />
	<%=yield%>
</body>
</html>
