<form action="/create" method="post" >
	<label>标识：</label>
	<input type="text" name="web_info[tab]" /><br />
	<label>名称：</label>
	<input type="text" name="web_info[title]" /><br />
	<label>网址：</label>
	<input type="text" name="web_info[url]" /><br />
	<label>标签：</label>
	<input type="text" name="web_info[tags]" /><br />
	<label>关键词：</label>
	<input type="text" name="web_info[keyword]" /><br />
	<label>标题选择器：</label>
	<input type="text" name="web_info[config][:title]" /><br />
	<label>描述选择器：</label>
	<input type="text" name="web_info[config][:desc]" /><br />
	<label>图片选择器：</label>
	<input type="text" name="web_info[config][:img]" /><br />
	<input type="submit" value="submit" />
</form>
