<form action="/create" method="post" >
	<label>名称：</label>
	<input type="text" name="web_info[title]" /><br />
	<label>网址：</label>
	<input type="text" name="web_info[url]" /><br />
	<label>标签：</label>
	<input type="text" name="web_info[tags]" /><br />
	<input type="submit" value="submit" />
</form>
